# unconventional js
/blueprints/*/*files/**/*.js
/blueprints/*/*files/**/*.ts
/fixtures/**/*.d.ts
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
/coverage/

# ember-try
/.node_modules.ember-try/
